data/sequencingData/Undetermined_S0_L001_I1_001.fastq.gz
data/sequencingData/Undetermined_S0_L001_R2_001.fastq.gz
data/sequencingData/Undetermined_S0_L001_R1_001.fastq.gz
data/sequenceData/canFam3.2bit
data/sequenceData/canFam3.bwt
data/sequenceData/canFam3.pac
data/sequenceData/canFam3.sa
data/canFam3.randomSites_annotated.1.RData
data/canFam3.randomSites_annotated.2.RData
data/canFam3.randomSites_annotated.3.RData
data/localHomology.noF8.rds
